*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --team-color: rgb(199, 1, 1);
    --default-font-color: white;
    --hover-color:rgb(3, 17, 38);
    --transition: all .6s ease-in-out;
    --color2: #000000;
    --color3: white;
    --font-family: 'Sofia Sans Semi Condensed',sans-serif;
}
.login-header{
    width: 100%;
    .login-section1{
        height: 120px;
        background-color: var(--team-color);
            .welcome{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: -85px;
                img{
                    border-radius: 50%;
                    width: 100px;
                    margin-bottom: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
    }
}

// ========================= PLAYER CATEGORIES =============================

.categories{
    height: 300px;
    max-width: 100%;
    font-family: var(--font-family);
    padding: 50px;
    border: 2px solid var(--team-color);
    border-width: 0px 0px 2px 0px;   
    .author{
        display: flex;
        justify-content: right;
    }
    .heading{
            text-transform: uppercase;
            font-size: 80px;
            padding: 20px;
            line-height: 61px;
            font-weight: 700;
            letter-spacing: 0px;
    } 
    .control{
        display: flex;
        

    }
}  
    