* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --team-color: rgb(199, 1, 1);
  --default-font-color: white;
  --hover-color:rgb(3, 17, 38);
  --transition: all .6s ease-in-out;
  --color2: #000000;
  --color3: white;
  --font-family: 'Sofia Sans Semi Condensed',sans-serif;
}

.login-header {
  width: 100%;
}

.login-header .login-section1 {
  height: 100px;
  background-color: var(--team-color);
}

.login-header .login-section1 .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -85px;
}

.login-header .login-section1 .welcome h1 {
  color: var(--color3);
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 0.10rem;
  font-size: 40px;
  padding: 18px;
  text-align: center;
}

.login-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-section2 .team-image {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.login-section2 .loginBox {
  font-family: var(--font-family);
  font-size: 20px;
  color: var(--color3);
  width: 400px;
  height: 650px;
  background: var(--color2);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 70px 30px;
  margin-top: 50px;
}

.login-section2 .loginBox .Logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 145px;
}

.login-section2 .loginBox h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 35px;
}

.login-section2 .loginBox .info {
  border: var(--team-color) solid 2px;
  border-radius: 4px;
  width: auto;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.login-section2 .loginBox .info .design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--team-color);
  width: 10px;
  height: 45px;
  margin-right: 2px;
}

.login-section2 .loginBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 25px;
}

.login-section2 .loginBox input {
  width: 100%;
  margin-bottom: 20px;
  color: var(--color3);
  font-size: 19px;
  font-family: var(--font-family);
}

.login-section2 .loginBox input[type="email"], .login-section2 .loginBox input[type="password"] {
  border: none;
  border-bottom: 1px solid var(--color3);
  background: black;
  outline: none;
}

.login-section2 .loginBox input[type="email"]::-webkit-input-placeholder, .login-section2 .loginBox input[type="password"]::-webkit-input-placeholder {
  font-size: 17px;
}

.login-section2 .loginBox input[type="email"]:-ms-input-placeholder, .login-section2 .loginBox input[type="password"]:-ms-input-placeholder {
  font-size: 17px;
}

.login-section2 .loginBox input[type="email"]::-ms-input-placeholder, .login-section2 .loginBox input[type="password"]::-ms-input-placeholder {
  font-size: 17px;
}

.login-section2 .loginBox input[type="email"]::placeholder, .login-section2 .loginBox input[type="password"]::placeholder {
  font-size: 17px;
}

.login-section2 .loginBox input[type="submit"] {
  border: none;
  width: 50%;
  outline: none;
  height: 40px;
  background-color: var(--team-color);
  color: var(--color3);
  font-size: 18px;
  border-radius: 20px;
  margin-left: 80px;
}

.login-section2 .loginBox input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--color3);
  color: var(--hover-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.login-section2 .loginBox select {
  margin: 20px 0px;
  margin-right: 5px;
  font-family: var(--font-family);
  font-size: 16px;
  background: black;
  color: var(--color3);
  border-radius: 5px;
}

.login-section2 .loginBox select option {
  color: var(--color3);
  background-color: var(--color2);
}

.login-section2 .loginBox select option:hover {
  background-color: var(--color3);
}

.login-section2 .loginBox a {
  text-decoration: none;
  display: block;
  font-size: 15px;
  line-height: 20px;
  color: darkgrey;
}

.login-section2 .loginBox a:hover {
  color: var(--team-color);
}

.login-section2 .loginBox a .underline {
  text-decoration: underline;
}
/*# sourceMappingURL=signUp.css.map */