*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --team-color: brown;
    --default-font-color: white;
    --hover-color:rgb(3, 17, 38);
}
/*===========================
*BEGINNING OF HOMEPAGE DESIGN
*============================

/*============== NAVIGATION SECTION ================*/
.nav-bar{
    margin: 0px auto;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: var(--team-color);
    color: white;
    font-family: 'Sofia Sans Semi Condensed', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    justify-content: center;
    border-radius: 0 0 30px 30px;

    //TEAM LOGO AND NAVIGATION TOOLS TO ACCESS DIFFERENT CONTENT

    .logo{
        width: 110px;
        margin-left: -70px;
        border-radius: 50%;
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0px;
    }
    .nav-pages{
        display: flex;
        margin-left: 100px;
        justify-content: end;
        list-style: none;
        margin: auto 30px;
        color: var(--default-font-color);
        letter-spacing: 0px;
        li{
            padding: 0px 10px;
            &:hover{
                text-decoration: underline;
            }
            a{
                text-decoration: none;
                color: var(--default-font-color)
            }
        }
    }

    /*======================== LOGIN BUTTON and  AUTHOR LOGO ============================*/
    
    .login-author{
        background-color: var(--default-font-color);
        margin: 20px;
    }
    form{
        margin: auto 0;
        .login{
            &:hover{
                background-color: var(--hover-color);
                color: var(--default-font-color);
            }
        width: 100px;
        height: 50px;
        background-color: var(--team-color);
        color: var(--default-font-color);
        font-family: 'Sofia Sans Semi Condensed', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 30PX;
        border: var(--default-font-color) solid 2px;
        border-radius: 25px;
        } 
    }
}

/*=========================================================================================================================================================
* END OF HOMEPAGE DESIGN
/*=========================================================================================================================================================
/


/*================= BEGINNING OF LOGIN PAGE: REGISTER AND SIGN UP FUNCTIONALITIES ====================*/

.login-header{
    width: 100%;
    .blue{
        height: 110px;
        background-color: var(--team-color);
            .logo{
                display: flex;
                justify-content: center;
                padding-top: 5px;
                img{
                    width: 100px;
                    border-radius: 50%;
                }
            }
            
    }
    .red{
        height: 500px;
        max-width: 100%;
        background: url(images/);
        background-size: cover;
        background-position: center;
        
    }
}