* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --team-color: brown;
  --default-font-color: white;
  --hover-color:rgb(3, 17, 38);
}

/*===========================
*BEGINNING OF HOMEPAGE DESIGN
*============================

/*============== NAVIGATION SECTION ================*/
.nav-bar {
  margin: 0px auto;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: var(--team-color);
  color: white;
  font-family: 'Sofia Sans Semi Condensed', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 0 30px 30px;
  /*======================== LOGIN BUTTON and  AUTHOR LOGO ============================*/
}

.nav-bar .logo {
  width: 110px;
  margin-left: -70px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px 0px;
}

.nav-bar .nav-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  list-style: none;
  margin: auto 30px;
  color: var(--default-font-color);
  letter-spacing: 0px;
}

.nav-bar .nav-pages li {
  padding: 0px 10px;
}

.nav-bar .nav-pages li:hover {
  text-decoration: underline;
}

.nav-bar .nav-pages li a {
  text-decoration: none;
  color: var(--default-font-color);
}

.nav-bar .login-author {
  background-color: var(--default-font-color);
  margin: 20px;
}

.nav-bar form {
  margin: auto 0;
}

.nav-bar form .login {
  width: 100px;
  height: 50px;
  background-color: var(--team-color);
  color: var(--default-font-color);
  font-family: 'Sofia Sans Semi Condensed', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30PX;
  border: var(--default-font-color) solid 2px;
  border-radius: 25px;
}

.nav-bar form .login:hover {
  background-color: var(--hover-color);
  color: var(--default-font-color);
}

/*=========================================================================================================================================================
* END OF HOMEPAGE DESIGN
/*=========================================================================================================================================================
/


/*================= BEGINNING OF LOGIN PAGE: REGISTER AND SIGN UP FUNCTIONALITIES ====================*/
.login-header {
  width: 100%;
}

.login-header .blue {
  height: 110px;
  background-color: var(--team-color);
}

.login-header .blue .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
}

.login-header .blue .logo img {
  width: 100px;
  border-radius: 50%;
}

.login-header .red {
  height: 500px;
}

.login-header .red img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=soccerSite.css.map */