*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --team-color: RGB(199, 1, 1);
    --default-font-color: white;
    --hover-color:rgb(3, 17, 38);
    --transition: all .6s ease-in-out;
    --color2: #000000;
    --color3: white;
    --font-family: 'Sofia Sans Semi Condensed';
}
/*===========================
*BEGINNING OF HOMEPAGE DESIGN
*============================

/*============== NAVIGATION SECTION ================*/
.nav-bar{
    margin: 0px auto;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: var(--team-color);
    color: var(--color3);
    font-family: var(--font-family), 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 400;
    justify-content: center;
    border-radius: 0 0 30px 30px;

    //TEAM LOGO AND NAVIGATION TOOLS TO ACCESS DIFFERENT CONTENT

    .logo{
        width: 110px;
        margin-left: -70px;
        border-radius: 50%;
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0px;
    }
    .nav-pages{
        display: flex;
        margin-left: 100px;
        justify-content: end;
        list-style: none;
        margin: auto 30px;
        color: var(--default-font-color);
        letter-spacing: 0px;
        li{
            padding: 0px 10px;
            &:hover{
                text-decoration: underline;
            }
            a{
                text-decoration: none;
                color: var(--default-font-color)
            }
        }
    }

    /*======================== LOGIN BUTTON and  AUTHOR LOGO ============================*/
    
    .login-author{
        background-color: var(--default-font-color);
        margin: 20px;
    }
    form{
        margin: auto 0;
        .login{
            &:hover{
                background-color: var(--color3);
                color: var(--hover-color);
            }
        width: 100px;
        height: 50px;
        background-color: var(--team-color);
        color: var(--default-font-color);
        font-family: 'Sofia Sans Semi Condensed', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 30PX;
        border: var(--default-font-color) solid 2px;
        border-radius: 25px;
        } 
    }
}

/*=========================================================================================================================================================
* END OF HOMEPAGE DESIGN
/*=========================================================================================================================================================
/


/*================= BEGINNING OF LOGIN PAGE: REGISTER AND SIGN UP FUNCTIONALITIES ====================*/

.login-header{
    width: 100%;
    .login-section1{
        height: 100px;
        background-color: var(--team-color);
        
            .welcome{
                display: flex;
                
                justify-content: center;
                align-items: center;
                margin-top: -85px;
                h1{
                    color: var(--color3);
                    font-family: 'Sofia Sans Semi Condensed';
                    font-weight: 400;
                    letter-spacing: 0.10rem;
                    font-size: 40px;
                    padding: 20px;
                    text-align: center;
                }
            }
            
    }

    //=========================== Login box with form ===================
    .login-section2{
        // max-width: 100%;
        // height: 600px;
        // background: url(images/newBuea-manU.jpg);
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
            height: 600px;
            object-fit: cover;
            filter: grayscale(70%);
            transition: all .4s ease-in-out;
            &:hover{
                filter: grayscale(0);
            }
        }
        .loginBox{
            font-family: var(--font-family);
            font-size: 20px;
            color: var(--color3);
            width: 400px;
            height: 450px;
            background: var(--color2);
            border-radius: 10px;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%,-50%);
            box-sizing: border-box;
            padding: 70px 30px;

            .Logo{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                position: absolute;
                top: -50px;
                left: 145px;
                filter: grayscale(0);
            }
            h1{
                margin: 0;
                padding: 0 0 20px;
                text-align: center;
                font-size: 35px;
            }
            p{
                margin: 0;
                padding: 0;
                font-weight: bold;
                font-size: 25px;
            }
            input{
                width: 100%;
                margin-bottom: 20px;
                color: var(--color3);
                font-size: 19px;
                font-family: var(--font-family);
                
            }
            input[type="text"],input[type="password"]{
                border: none;
                border-bottom: 1px solid var(--color3);
                background: black;
                outline: none;
                &::placeholder{
                    font-size: 17px ;
                }
            }
            input[type="submit"]{
                border: none;
                 width: 50%;
                 outline: none;
                 height: 40px;
                 background-color: var(--team-color);
                 color: var(--color3);
                 font-size: 18px;
                 border-radius: 20px;
                 margin-left: 80px;
                 &:hover{
                    cursor: pointer;
                    background-color: var(--color3);
                    color: var(--hover-color);
                    transition: var(--transition);
                 }
            }
            a{
                text-decoration: none;
                
                display: block;
                font-size: 15px;
                line-height: 20px;
                color: darkgrey;
                &:hover{
                    color: var(--team-color);
                }
            }
        }
    }
}
